/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
}

nav {
  padding: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  background-color: #F05A22;
  color: white;
}

.mainDiv {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 30px;
  padding: 15px;
}

.items {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  background-color: white;
  /* margin: 20px; */
  width: 250px;
}

.container input{
  outline: none;
  border: none;
  box-shadow:10px 10px 10px 10px #d1c8c84b;
  background-color: white;
  margin: 15px;
  height: 30px;

}
#imgs {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image {
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  gap: 1rem;
}
#img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.items .texts .read-more{
  border: 1px solid red;
}